SYSTEM_HEADER_PROJECTS=libc kernel
PROJECTS=libc kernel

MAKE=make
HOST=x86_64-elf
HOSTARCH=x86_64

AR=$(HOST)-ar
AS=$(HOST)-as
CC=$(HOST)-gcc

PREFIX = /usr
EXEC_PREFIX = $(PREFIX)
BOOTDIR = /boot
LIBDIR = $(EXEC_PREFIX)/lib
INCLUDEDIR = $(PREFIX)/include

CFLAGS = -O2 -g -m64
CPPFLAGS =

# Configure the cross-compiler to use the desired system root.
SYSROOT=../sysroot
CC := $(CC) --sysroot=$(SYSROOT)

DESTDIR=$(SYSROOT)

CC := $(CC) -isystem=$(INCLUDEDIR)